##############################################################################
# pgBackRest settings

# pgBackRest version (default latest)
PGBACKREST_VERSION=latest

# pgBackRest default stanza
PGBACKREST_STANZA=pgbackrest


##############################################################################
# PostgreSQL settings

# PostgreSQL major version
POSTGRES_VERSION=17

# PostgreSQL user (will be created when container start)
POSTGRES_USER=postgres

# PostgreSQL user's password (will be set when container start)
POSTGRES_PASSWORD=postgres
